/* section{
    height: 400px;
    width: 400px;
    background-color: aqua;
    padding: 100px;
    box-sizing: content-box;
} */

/* whenever you start project 1st give   padding: 0    margin: 0    box-sizing: border-box */